body{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
.orange-title{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 0%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    padding: 10px 25px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
#mid-title{
    text-align: center;
    font-size: 60px;
}
#first-part{
    width: 500px;
    background-color: lightblue
}
#second-part{
    width: 500px;
    background-color: lightcoral;
}
#third-part{
    width: 500px;
    background-color:lightgreen; 
}
.third-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
    padding-right: 50px;
}
.fourth-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right;
    padding-right: 50px;
}
#finishing{
    text-align: center;
    padding: 10px 25px;
    background-color: yellowgreen;
    color: white;
}